<!DOCTYPE html>
<html>

<head>
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <style>
        .killed {
            background-color: gray !important;
        }
        .alive {
            background-color: green !important;
        }
    </style>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>

    <script>
        $(document).ready(function() {
            killStatus = '{{ killStatus }}';
            kill_test = ""
            // kill_test = killStatus === true ? "KYDO IS SILENT" : "KYDO SPEAKS";
            // console.log(killStatus)

            function updateStatus() {
                if (killStatus === true) { 
                $("#killed").removeClass( "killed alive") 
                $("#killed").addClass( "killed") 
                kill_test = "KYDO IS SILENT"
                $("#killed").text(kill_test);
                }
            else {
                $("#killed").removeClass( "killed alive") 
                $("#killed").addClass( "alive") 
                kill_test = "KYDO SPEAKS"
                $("#killed").text(kill_test);
            }
            }

            var refreshId = setInterval(function() {

            
                updateStatus();
                // console.log(killStatus)
                // $("#killed").text(kill_test);

            }, 1000);


            

            console.log(killStatus, kill_test);

            $("#killed").text(kill_test);

            $(function() {
                $('#killer').bind('click', function() {
                    $.getJSON('/kill', {}, function(data) {
                        console.log(data);
                        killStatus = data.kill_status;
                        
                        updateStatus();


                    });
                    return false;
                });
            });


        });
    </script>
</head>

<body>
    <div id="killHead">
        <label id="killer" class="btn btn-default btn-inverse">
        KILL
    </label>
        <div id="killed"></div>
    </div>
</body>

</html>
